<p-menubar [model]="items">
 <!-- <label>{{ items }}</label> -->
  <button class="p-shadow-5" pButton label="Logout" icon="pi pi-power-off"></button>
</p-menubar>
<!-- <nav class="navbar">
  <div class="container">
    <div class="p-grid">
      <div class="p-col-12">
        <ng-template let-item="rowData">
            <p-menu #menu [popup]="true" [model]="items"></p-menu>
            <button type="button" pButton pRipple icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button>
            <label><h2 class="title  p-shadow-5">SIGCOM - Sistema Gerenciador Comercial</h2></label>
        </ng-template>
      </div>
    </div>
  </div>
</nav> -->
