<div class="container">
  <div class="p-grid">
    <form (ngSubmit)="pesquisar()" autocomplete="off">
      <!-- <div class="p-col-12"> -->
      <h1 class="top-tela">UNIDADES</h1>
      <!-- </div> -->
      <!-- <div class="p-col-12 p-fluid">
        <label style="display: block;">Descrição</label>
        <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao">
      </div> -->
      <!-- <div class="p-col-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div> -->
    </form>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="unidades" [lazy]="true" (onLazyLoad)="aoMudarPagina($event)" [paginator]="true"
        [rows]="filtro.itensPorPagina" [responsive]="true" [totalRecords]="totalRegistros">
        <ng-template pTemplate="header" emptymessage="Nenhum Registro Encotrado">
          <tr>
            <th style="width: 60px;">Codigo</th>
            <th>Descrição</th>
            <th>Status</th>
            <th style="width: 45px;">Edit</th>
            <th style="width: 45px;">Delete</th>
          </tr>
        </ng-template>
        <ng-template let-unidade pTemplate="body">
          <tr>
            <td>{{unidade.codigo}}</td>
            <td>{{unidade.descricao}}</td>
            <a href="javascript:;" [pTooltip]="unidade.statusunidade ? 'Desativar' : 'Ativar'" tooltipPosition="top"
              (click)="alternarStatus(unidade)">
              {{ unidade.statusunidade ? 'Ativo' : 'Inativo' }}
            </a>
            <td>
              <button pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                [routerLink]="['/unidades', unidade.codigo]"></button>
            </td>
            <td>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmaExclusao(unidade)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <button pButton label="Nova Unidade" pTooltip="Cadastrar Uma Nova Unidade" tooltipPosition="top"
        routerLink="/unidades/nova"></button>
    </div>
  </div>
</div>
