body {
/* // margin: 0; */
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}


/* label {
  font-weight: bold;
} */


@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}


.col-valor {
  width: 120px;
  text-align: right;
}


.col-data {
  width: 120px;
  text-align: center;
}


.col-acoes {
  width: 40px, red;
  margin-right: 0em;
  text-align: right;
}

/* .col-acoes-header {
  width: 90px;
} */

.top-tela {
  margin-top: -1em;
  text-align: right;
  margin-left: 28em;
}

.col-codigo {
  width: 30px;
}
